body {
    margin-inline: center;
    height: auto;
    display: grid;
    padding-inline: 20px;
    font-family: ;
    text-align: center;
}

.container {
    width: 40%;
    margin-top: 0 auto;
}

img{
    width: 30%;
    margin: 1px auto;
    display: block;
}

nav {
    float: right;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
    margin-left: 10px;
    padding-top: 15px;
}

