body {
    margin-left: auto;
    height: auto;
    display: grid;
    padding-left: 0;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A605, #2305AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    font-family: "rancho";
    font-size: 20px;
    text-align: center;
}

.container {
    width: 40%;
    margin-top: 0 auto;
}

.gallery{
    display: flex;
    flex-direction: column;
}

.gallery {

}


img {
    width: 30%;
    margin: 1px auto;
    display: block;
}

nav {
    float: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
    margin-left: 10px;
    padding-top: 15px;
}

footer {
    padding-top: 4rem;
    padding-bottom: 3rem;
}