body {
    margin-inline: center;
    height: auto;
    display: grid;
    padding-inline: 20px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A605, #2305AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    color: black;
    font-family: "rancho";
    font-size: 20px;
    text-align: center;
}

.container {
    width: 40%;
    margin-top: 0 auto;
}

img {
    width: 30%;
    margin: 1px auto;
    display: block;
}

nav {
    float: right;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
    margin-left: 10px;
    padding-top: 15px;
}

